<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">Barcha yangiliklar ro'yhati</h4>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Admin</a></li>
                <li class="breadcrumb-item active">News</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <button type="button" class="btn btn-primary waves-effect waves-light m-3" data-toggle="modal"
                    data-target="#CREATE_DATA">
                    Malumot yaratish
                </button>

                <table id="datatable-buttons"
                    class="table table-striped table-bordered dt-responsive nowrap text-center"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%">
                    <thead>
                        <tr>
                            <th>Rasm</th>
                            <th>Yangilik nomi</th>
                            <th>CreatedAt</th>
                            <th>Setting</th>
                        </tr>
                    </thead>
                    <tbody class="getTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Yangilik yaratish -->
<div class="modal fade" id="CREATE_DATA" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">
                    Malumot yaratish
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- rasm -->
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Image</label>
                    <div class="col-lg-12">
                        <input id="image" class="form-control form-control-lg" type="file" multiple />
                    </div>
                </div>

                <!-- kategoriya -->
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Kategoriyani tanlash</label>
                    <div class="col-sm-12">
                        <select class="form-control categoryAll" id="categoryID" size="5" multiple="multiple">

                        </select>
                    </div>
                </div>

                <!-- Tag -->
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Tag tanlash</label>
                    <div class="col-sm-12">
                        <select class="form-control tagAll" id="tagID" size="5" multiple="multiple"> </select>
                    </div>
                </div>



                <!-- Status -->
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Status tanlash</label>
                    <div class="col-sm-12">
                        <select class="form-control " id="status">
                            <option value="none">Yangi </option>
                            <option value="recommend">Tavsiya qilinadi</option>
                            <option value="most-read">Ko'p o'qilgan</option>
                        </select>
                    </div>
                </div>

                <!-- -------------------------- Name  -------------------------- -->
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Name uz</label>
                    <div class="col-lg-12">
                        <input id="nameuz" class="form-control form-control-lg" type="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Name ru</label>
                    <div class="col-lg-12">
                        <input id="nameru" class="form-control form-control-lg" type="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Name en</label>
                    <div class="col-lg-12">
                        <input id="nameen" class="form-control form-control-lg" type="text" />
                    </div>
                </div>
                <!-- -------------------------- Description -------------------------- -->
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Description uz</label>
                    <div class="col-lg-12">
                        <textarea id="descriptionuz" class="form-control form-control-lg" rows="10"
                            cols="10"> </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Description ru</label>
                    <div class="col-lg-12">
                        <textarea id="descriptionru" class="form-control form-control-lg" rows="10"
                            cols="10"> </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Description en</label>
                    <div class="col-lg-12">
                        <textarea id="descriptionen" class="form-control form-control-lg" rows="10"
                            cols="10"> </textarea>
                    </div>
                </div>
                <!-- --------------------------   Sitata  -------------------------- -->
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Sitata uz</label>
                    <div class="col-lg-12">
                        <textarea id="sitatatuz" class="form-control form-control-lg" rows="10" cols="10"> </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Sitata ru</label>
                    <div class="col-lg-12">
                        <textarea id="sitatatru" class="form-control form-control-lg" rows="10" cols="10"> </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Sitata en</label>
                    <div class="col-lg-12">
                        <textarea id="sitataten" class="form-control form-control-lg" rows="10" cols="10"> </textarea>
                    </div>
                </div>
                <!--  -------------------------- Link  -------------------------- -->
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Telegram</label>
                    <div class="col-lg-12">
                        <input id="telegram" class="form-control form-control-lg" type="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Facebook</label>
                    <div class="col-lg-12">
                        <input id="facebook" class="form-control form-control-lg" type="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Instagram</label>
                    <div class="col-lg-12">
                        <input id="instagram" class="form-control form-control-lg" type="text" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-12 col-form-label">Author name</label>
                    <div class="col-lg-12">
                        <input id="authorname" class="form-control form-control-lg" type="text" />
                    </div>
                </div>






                <div class="form-group row">
                    <div class="col-lg-12">
                        <button class="btn btn-success" onclick="CREADDATA()" type="button">
                            Malumot yaratish
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Yangilik haqida malumot olish -->
<div class="modal fade" id="INFO_DATA" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">
                    Informatsiya
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<!-- Yangilikni tahrirlash -->
<div class="modal fade" id="UPDATE_DATA" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">
                    Informatsiya
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>



<script src="/jquery.min.js"></script>
<script src="/axios.min.js"></script>

<script>

    // Hamma yangiliklarni olish
    axios.get("/news/all").then(async (res) => {
        const DATA = res.data.data;
        const getTable = $(".getTable");
        await getTable.html("");
        DATA.forEach((item, index, array) => {
            getTable.append(`
            <tr>
                <td>
                    <img src="/news/${item.images[0]}" style="width: 100px;" alt="">
                </td>
                <td>${item.name.uz}</td>
                <td>${new Date(item.createdAt).toLocaleString()}</td>
                <td>
                    <button type="button" onclick="updateData('${item._id}')"data-toggle="modal" data-target="#updateModal" class="btn btn-success">Info</button>
                    <button type="button" onclick="updateData('${item._id}')"data-toggle="modal" data-target="#updateModal" class="btn btn-success">Edit</button>
                    <button type="button" onclick="deleteData('${item._id}')" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        `);
        });
    })

    // Hamma kategoriyani olish
    axios.get('/category/all').then(async (res) => {
        const DATA = res.data.data
        const category = $(".categoryAll")
        await category.html("")
        DATA.forEach((item, index, array) => {
            category.append(`<option value="${item._id}">${item.name.uz}</option> `)
        });
    })
    // Hamma tag olish
    axios.get('/tag/all').then(async (res) => {
        const DATA = res.data.data
        const tagAll = $(".tagAll")
        await tagAll.html("")
        DATA.forEach((item, index, array) => {
            tagAll.append(`<option value="${item._id}">${item.name.uz}</option> `)
        });
    })



    // Malumot yaratish
    const CREADDATA = () => {

        // 1.Kategoriyani massivga olish
        const categoryID = document.getElementById("categoryID")
        // let selectCategory = new Array();
        // let categoryCount = 0;
        // for (let i = 0; i < categoryID.length; i++) {
        //     if (categoryID.options[i].selected) {
        //         selectCategory[categoryCount] = categoryID.options[i].value;
        //         categoryCount++;
        //     }
        // }

        // // 2.Taglarni massivga olish
        const tagID = document.getElementById("tagID")
        // let selectTag = new Array();
        // let tagCount = 0;
        // for (let i = 0; i < tagID.length; i++) {
        //     if (tagID.options[i].selected) {
        //         selectTag[tagCount] = tagID.options[i].value;
        //         tagCount++;
        //     }
        // }

        const selectCategory = Array.from(categoryID.options).filter(option => option.selected).map(option => option.value)
        const selectTag = Array.from(tagID.options).filter(option => option.selected).map(option => option.value)

        const formData = new FormData()

        const image0 = document.getElementById('image').files[0]
        const image1 = document.getElementById('image').files[1]
        const image2 = document.getElementById('image').files[2]
        const image3 = document.getElementById('image').files[3]
        const image4 = document.getElementById('image').files[4]
        const image5 = document.getElementById('image').files[5]
        const image6 = document.getElementById('image').files[6]
        const image7 = document.getElementById('image').files[7]
        const image8 = document.getElementById('image').files[8]
        const image9 = document.getElementById('image').files[9]
        const image10 = document.getElementById('image').files[10]
        const image11 = document.getElementById('image').files[11]

        const nameuz = document.getElementById('nameuz').value
        const nameru = document.getElementById('nameru').value
        const nameen = document.getElementById('nameen').value
        const descriptionuz = document.getElementById('descriptionuz').value
        const descriptionru = document.getElementById('descriptionru').value
        const descriptionen = document.getElementById('descriptionen').value
        const sitatatuz = document.getElementById('sitatatuz').value
        const sitatatru = document.getElementById('sitatatru').value
        const sitataten = document.getElementById('sitataten').value
        const telegram = document.getElementById('telegram').value
        const facebook = document.getElementById('facebook').value
        const instagram = document.getElementById('instagram').value
        const authorname = document.getElementById('authorname').value
        const status = document.getElementById('status').value

        formData.append("CATEGORY_ID[]", selectCategory)
        formData.append("TAG_ID[]", selectTag)
        formData.append("NAME_UZ", nameuz)
        formData.append("NAME_RU", nameru)
        formData.append("NAME_EN", nameen)
        formData.append("DESCRIPTION_UZ", descriptionuz)
        formData.append("DESCRIPTION_RU", descriptionru)
        formData.append("DESCRIPTION_EN", descriptionen)
        formData.append("SITATA_UZ", sitatatuz)
        formData.append("SITATA_RU", sitatatru)
        formData.append("SITATA_EN", sitataten)
        formData.append("TELEGRAM", telegram)
        formData.append("FACEBOOK", facebook)
        formData.append("INSTAGRAM", instagram)
        formData.append("AUTHOR", authorname)
        formData.append("STATUS", status)

        formData.append("images", image0)
        formData.append("images", image1)
        formData.append("images", image2)
        formData.append("images", image3)
        formData.append("images", image4)
        formData.append("images", image5)
        formData.append("images", image6)
        formData.append("images", image7)
        formData.append("images", image8)
        formData.append("images", image9)
        formData.append("images", image10)
        formData.append("images", image11)

        if (
            image0 == "" ||
            nameuz == "" ||
            nameru == "" ||
            nameen == "" ||
            descriptionuz == "" ||
            descriptionru == "" ||
            descriptionen == "" ||
            sitatatuz == "" ||
            sitatatru == "" ||
            sitataten == "" ||
            telegram == "" ||
            facebook == "" ||
            instagram == "" ||
            authorname == ""
        ) {
            alert("Hammasini kirit")
        } else {
            axios({
                method: "POST",
                url: "/news/create",
                data: formData,
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
                .then((res) => {
                    // window.location.reload()
                    console.log(res.data)
                });
        }












    }





    const deleteData = (id) => {
        axios.delete(`/news/${id}`).then((res) => {
            window.location.reload()
        })
    }




</script>