<section class="heading-news3">

    <div class="heading-news-box">

        <div class="owl-wrapper">
            <div class="owl-carousel" data-num="4">

                <div class="item">
                    <div class="news-post image-post">
                        <img src="upload/news-posts/h9.jpg" alt="">
                        <div class="hover-box">
                            <div class="inner-hover">
                                <h2><a href="single-post.html">Nullam malesuada erat ut turpis. Suspendisse urna nibh,
                                        viverra non, semper suscipit, posuere a, </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                    <li><i class="fa fa-eye"></i>872</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="news-post image-post">
                        <img src="upload/news-posts/h10.jpg" alt="">
                        <div class="hover-box">
                            <div class="inner-hover">
                                <h2><a href="single-post.html">Nam dui mi, tincidunt quis, accumsan </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                    <li><i class="fa fa-eye"></i>872</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="news-post image-post">
                        <img src="upload/news-posts/h11.jpg" alt="">
                        <div class="hover-box">
                            <div class="inner-hover">
                                <h2><a href="single-post.html">Suspendisse urna nibh, viverra non, semper suscipit,
                                        posuere a, pede.</a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                    <li><i class="fa fa-eye"></i>872</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="news-post image-post">
                        <img src="upload/news-posts/h12.jpg" alt="">
                        <div class="hover-box">
                            <div class="inner-hover">
                                <h2><a href="single-post.html">Donec nec justo eget felis facilisis </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                    <li><i class="fa fa-eye"></i>872</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="news-post image-post">
                        <img src="upload/news-posts/h13.jpg" alt="">
                        <div class="hover-box">
                            <div class="inner-hover">
                                <h2><a href="single-post.html">Nam dui mi, tincidunt quis, accumsan </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                    <li><i class="fa fa-eye"></i>872</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel. </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>

<section class="block-wrapper">
    <div class="sidebar small-sidebar">

        <div class="widget review-widget">
            <h1>Top Reviews</h1>
            <ul class="review-posts-list">
                <li>
                    <img src="upload/news-posts/rev1.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </li>
                <li>
                    <img src="upload/news-posts/rev2.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </li>
                <li>
                    <img src="upload/news-posts/rev3.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </li>
                <li>
                    <img src="upload/news-posts/rev4.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </li>
                <li>
                    <img src="upload/news-posts/rev5.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </li>
                <li>
                    <img src="upload/news-posts/rev6.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </li>
            </ul>
        </div>

        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="upload/addsense/160x600.jpg" alt="">
            </div>
        </div>

        <div class="widget categories-widget">
            <div class="title-section">
                <h1><span>Hot Categories</span></h1>
            </div>
            <ul class="category-list">
                <li>
                    <a href="#">IT Management <span>12</span></a>
                </li>
                <li>
                    <a href="#">Internet <span>26</span></a>
                </li>
                <li>
                    <a href="#">Computer Hardware <span>55</span></a>
                </li>
                <li>
                    <a href="#">Mobile &amp; Wireless <span>37</span></a>
                </li>
                <li>
                    <a href="#">Operating Systems <span>62</span></a>
                </li>
                <li>
                    <a href="#">Reviews <span>10</span></a>
                </li>
                <li>
                    <a href="#">News <span>43</span></a>
                </li>
                <li>
                    <a href="#">App Development <span>74</span></a>
                </li>
                <li>
                    <a href="#">Entertainment <span>11</span></a>
                </li>
                <li>
                    <a href="#">Mobile Apps <span>41</span></a>
                </li>
                <li>
                    <a href="#">Tablets <span>11</span></a>
                </li>
                <li>
                    <a href="#">Web Apps <span>29</span></a>
                </li>
            </ul>
        </div>


    </div>

    <div class="sidebar large-sidebar">
        <div class="widget tab-posts-widget">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#option1" data-toggle="tab">Popular</a>
                </li>
                <li>
                    <a href="#option2" data-toggle="tab">Recent</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="option1">
                    <ul class="list-posts">
                        <li>
                            <img src="upload/news-posts/listw1.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies
                                        in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="upload/news-posts/listw2.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Sed arcu. Cras consequat. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="upload/news-posts/listw3.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Phasellus ultrices nulla quis nibh. Quisque a lectus.
                                    </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="upload/news-posts/listw4.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Donec consectetuer ligula vulputate sem tristique cursus.
                                    </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="upload/news-posts/listw5.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Nam nulla quam, gravida non, commodo a, sodales sit amet,
                                        nisi. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="option2">
                    <ul class="list-posts">

                        <li>
                            <img src="upload/news-posts/listw3.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Phasellus ultrices nulla quis nibh. Quisque a lectus.
                                    </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="upload/news-posts/listw4.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Donec consectetuer ligula vulputate sem tristique cursus.
                                    </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="upload/news-posts/listw5.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Nam nulla quam, gravida non, commodo a, sodales sit amet,
                                        nisi.</a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <img src="upload/news-posts/listw1.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies
                                        in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="upload/news-posts/listw2.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Sed arcu. Cras consequat.</a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="widget post-widget">
            <div class="title-section">
                <h1><span>Most Read</span></h1>
            </div>
            <ul class="list-posts">
                <li>
                    <div class="post-content">
                        <h2><a href="single-post.html">Sed arcu. Cras consequat.</a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="post-content">
                        <h2><a href="single-post.html">Aenean dignissim pellentesque felis. Morbi in sem quis dui
                                placerat ornare. </a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="post-content">
                        <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in,
                                diam. </a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="post-content">
                        <h2><a href="single-post.html">Phasellus ultrices nulla quis nibh. Quisque a lectus.</a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="post-content">
                        <h2><a href="single-post.html">Pellentesque fermentum dolor.</a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>



        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="upload/addsense/250x250.jpg" alt="">
            </div>
            <div class="tablet-advert">
                <span>Advertisement</span>
                <img src="upload/addsense/200x200.jpg" alt="">
            </div>
            <div class="mobile-advert">
                <span>Advertisement</span>
                <img src="upload/addsense/300x250.jpg" alt="">
            </div>
        </div>

        <div class="widget subscribe-widget">
            <form class="subscribe-form">
                <h1>Subscribe to RSS Feeds</h1>
                <input type="text" name="sumbscribe" id="subscribe" placeholder="Email">
                <button id="submit-subscribe">
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
                <p>Get all latest content delivered to your email a few times a month.</p>
            </form>
        </div>

    </div>
    <!-- End sidebar -->

    <!-- block content -->
    <div class="block-content">

        <div class="container-fluid">

            <div class="grid-box central">


                <div class="title-section big-title">
                    <h1><span>So'ngi yangiliklar</span></h1>
                </div>
                <div class="row centralNews">

                    



                </div>

            </div>

        </div>

    </div>

</section>





<script src="/jquery.min.js"></script>
<script src="/axios.min.js"></script>
<script>

    axios.get("/main/1").then(async (result) => {
        const CENTAL = result.data.central // [{}, {} , {}]
        const ADVERTISMEN = result.data.advertisement // [{}, {} , {}]
        const LASTNEWS = result.data.lastNews // [{}, {} , {}]
        const TOPNEWS = result.data.topNews // [{}, {} , {}]
        const CATGORIES = result.data.categories // [{}, {} , {}]



        //   =============================   Centralni joylashtrish  =============================
        const central = $(".central");
        await central.html("");
        CENTAL.forEach((item, index, array) => {
            central.append(`
                    <div class="col-md-6">
                        <div class="news-post standard-post2">
                            <div class="post-gallery">
                                <img src="upload/news-posts/im9.jpg" alt="">
                            </div>
                            <div class="post-title">
                                <h2><a href="/single/${item._id}">${item.name.uz}</a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>${new Date(item.createdAt).toLocaleString()}</li>
                                    <li><i class="fa fa-user"></i>by <a href="#">${item.author_name}</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span> Rating:  ${item.rating}</span></a></li>
                                    <li><i class="fa fa-eye"></i>View: ${item.view}</li>
                                </ul>
                            </div>
                            <div class="post-content">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis
                                    vel, nisi. </p>
                            </div>
                        </div>
                    </div>
            `);
            
        });




    })









</script>